@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-body;
    }
}

@layer components {
    .carousel-container {
        @apply relative h-32 w-3/6 sm:h-40 md:h-56;
        perspective: 300px;
        transform-style: preserve-3d;
    }

    .carousel-item {
        @apply absolute h-full w-full cursor-pointer 
        overflow-hidden rounded-3xl drop-shadow-custom 
        transition-all duration-700 ease-in-out;
    }

    .carousel-indicator {
        @apply absolute left-1/2 -bottom-10 mt-10 flex h-5 w-24 
        -translate-x-1/2 transform 
        items-center justify-center space-x-1 md:-bottom-20;
    }

    .carousel-indicator-dots {
        @apply h-2 w-2 rounded-full bg-white opacity-50 transition-all
        duration-500 hover:w-4 hover:opacity-100
    }

    .carousel-btn-switch-card-left {
      @apply right-1/2 top-1/2 -translate-x-[-200px]
      translate-y-[-50%]
      transform sm:translate-x-[-250px]
      md:translate-x-[-300px]
      lg:translate-x-[-350px]
    }

    .carousel-btn-switch-card-right {
      @apply right-1/2 top-1/2 -translate-x-[200px]
      translate-y-[-50%]
      transform sm:translate-x-[250px]
      md:translate-x-[300px]
      lg:translate-x-[350px]
    }

    .carousel-btn-switch-card{
      @apply absolute z-40 flex h-9 w-9 cursor-pointer
      items-center justify-center
      rounded-full border-2 border-[#302e30] bg-[#181818] text-2xl opacity-75
      transition duration-300
      hover:opacity-100
      md:h-12 md:w-12
    }


}
